.header {
  min-width: 100%;
  height: calc(2rem + 3vw);
  background-color: teal;
  animation-name: header;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.main-box {
  border: solid turquoise;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  min-height: 20vh;
  background-color: teal;
  height: auto;
  width: 30vw;
  margin: 5% auto;
}
.top-tesk-list {
  width: 100%;
  height: auto;
  background-color: turquoise;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.top-tesk-list-title {
  color: rgb(25, 64, 66);
  margin-left: 1vw;
  font-weight: 700;
  font-size: calc(2*clamp(0.5rem, 0.5rem + 0.5vw, 2rem));
}
.bottom-tesk-list-title {
  width: 100%;
  height: auto;
  background-color: turquoise;
}
.detail-text {
  font-size: clamp(0.5rem, 0.5rem + 0.5vw, 2rem);
  margin: 1vw;
}
.add-container {
  display: flex;
  justify-content: space-between;
}
.add-in {
  background-color: rgb(25, 64, 66);
  border: none;
  outline: none;
  padding: 0.2rem 0 0.2rem 0.5vw;
  margin: 1vw 0 0 1vw;
  border-radius: 5px;
  color: rgb(0, 255, 229);
  width: 60%;
  height: 2vw
}
.add-btn {
  width: 40%;
  height: auto;
  margin: 1vw 1vw 0 1vw;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(0, 255, 229);
  border: solid 1px rgb(0, 105, 105);
  font-size: calc(0.5em + 1vw);
}

.add-btn:hover {
  background-color: rgb(25, 64, 66);
  color: rgb(0, 255, 229);
}
.task {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  background-color: rgba(64, 224, 208, 0.582);
  margin: 1vw;
  font-size: clamp(0.5rem, 0.5rem + 0.5vw, 2rem);
  border: solid rgb(0, 255, 229) 1px;
  border-radius: 5px;
  padding: 0px 3px;
  animation-name: uncompleted;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.taskName {
  width: 100%;
  margin-top: 6x;
}
.close {
  background-color: turquoise;
  border: none;
  border-radius: 3px;
  width: 2vw;
  height: auto;
  font-size: clamp(0.5rem, 0.5rem + 0.5vw, 2rem);;
}
.close:hover {
  background-color: rgb(25, 64, 66);
  color: rgb(0, 255, 229);
  animation-name: closeHover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
@keyframes header {
  from {
    opacity: 50%;    
  }
  to { 
    opacity: 100%;
  }
}

@keyframes completed {
  from {
    background-color: rgba(64, 224, 208, 0.582);
    margin: 1vw;
    font-size: clamp(0.5rem, 0.5rem + 0.5vw, 2rem);
    border: solid rgb(0, 255, 229) 1px;
    padding: 6px 3px;
  }
  to {
    color: teal;
    backgroundColor: rgb(25, 64, 66);
    border: solid 1px teal;
    borderRight: solid 7px turquoise;
    padding: 3px 3px;
  }
}

@keyframes uncompleted {
  from {
    color: white;
    backgroundColor: rgb(25, 64, 66);
    border: solid 1px teal;
    borderRight: solid 7px turquoise;
    padding: 3px 3px;
  }
  to {
    background-color: rgba(64, 224, 208, 0.582);
    margin: 1vw;
    font-size: clamp(0.5rem, 0.5rem + 0.5vw, 2rem);
    border: solid rgb(0, 255, 229) 1px;
    padding: 6px 3px;
  }
}

@keyframes closeHover {
  from {
    width: 2vw;
    height: auto;
  }
  to {
    width: 2.2vw;
    height: 1.5vw;
  }
}